body{
	
	background-color:rgb(186, 186, 186);
    background-image:url(Silver.jpg);
    background-repeat: no-repeat
    margin:0;
	
}

#wrapperNavbar2{

    margin-left:auto;
    margin-right:auto;
    width:100%;

}

#header{
    height:100px;
    width:100%;
    margin:0;
    background-color:rgb(211, 211, 211);
    color:#ffffff;
    font-size:40px;
    line-height:100px;
    text-align:center;

}

#navbar2{
    display:inline-block;
    width:100%;
    background-color:rgb(100, 100, 100);
}

#links{
    width:100%;

}

#links ul{

    margin:0;
    padding:0;
}
#links ul li{
    
    display:inline;
    float:left;
    padding:10px;
    margin:0;
    list-style:none;
    background-color:rgb(100, 100, 100);
    color:white;
    transition: all 0.2s;

}

#links a{

    text-decoration:none;
    color:white;
}

#links ul li:hover{

    background-color:rgb(70, 70, 70);
    transition:all 0.2s;
}

.navbar-bcg{
    
    background-color:#f4f4f4;
}