body{
	
	background-color:#AFAFAF;
	
}


#snakegame{
	
	height: 600px;
	width: 600px;
	//border:1px solid black;
	background-color:#D8D8D8;
	margin-left: 50px;
	margin-top:0px;
	float:left;
}

#timer{
	
	transition: background-color 0.4s;
	position:absolute;
	height:600px;
	left:58px;
	width:600px;
	color:rgba(102,102,102,0.4);
	transition:color 0.1s;
	font-size:100px;
	text-align:center;
	display:none;
	z-index:1;
	
}

#rushDisplay{
	position:absolute;
	height:60px;
	width:600px;
	background-color:rgba(102,102,102,0.2);
	float:left;
	left:58px;
	top:577px;
	border-top:1px solid rgba(51,51,51,0.3);
		
}

#multiplierWrapper{
	
	height:58px;
	width:100px;
	float:left;
	border-bottom: 1px solid rgba(51,51,51,0.3);
	border-right: 1px solid rgba(51,51,51,0.3);
	background-color:rgba(102,102,102,0.2);
}

#multiplierTop{
	
	width:100px;
	height:16px;
	background-color:rgba(102,102,102,0.3);
	line-height:14px;
	font-size:14px;
	text-align:center;
	color:rgba(0,0,0,0.4);
	
}
#multiplier{
	transition: color 0.2s;
	color:rgba(0,0,204,0.4);
	text-align:center;
	font-size:40px;
	width: 100px;
	height:42px;
	
}

#rushLevelCounter{
	
	float:left;
	width:200px;
	height:58px;
	float:left;
	border-bottom: 1px solid rgba(51,51,51,0.3);
	border-right: 1px solid rgba(51,51,51,0.3);
	background-color:rgba(102,102,102,0.2);
	
}

#rushLevelCounterTop{
	width:200px;
	height:17px;
	background-color:rgba(102,102,102,0.3);
	line-height:14px;
	font-size:14px;
	text-align:center;
	color:rgba(0,0,0,0.4);
}
	
#rushLevelCounterBottom{
	
	width:200px;
	height:43px;
    background-color: rgba(75, 0, 130, 0.1);
}

#progressSquare{
	
	margin-top:9px;
	height:25px;
	width:15px;
	margin-left:1px;
	float:left;
	background-color:rgba(255,204,0,1.00);
	display:none;
}

#start_game_menu{
	
	visibility:visible;
	z-index:10;
	position:absolute;
	height:600px;	
	width: 600px;
	background-color:rgba(64,85,104,1.00);
}

#copyright{
	
	margin-left:auto;
	margin-right:auto;
	font-size:16px;
	color:white;
	width:450px;
	height:50px;
	text-align:center;
	margin-top:150px;
	background-image:url(images/Copyright--Panaite-Andr.png);
	background-repeat:no-repeat;
	
}

#quick_play_menu
{
	visibility:hidden;
	position:absolute;
	height:600px;	
	width: 600px;
	z-index:10;
	background-color:rgba(64,85,104,1.00);

}

#campaign_menu{
	
	visibility:hidden;
	position:absolute;
	height:600px;	
	width: 600px;
	z-index:10;
	background-color:rgba(64,85,104,1.00);
	
}

#campaign_game_options{
	
	margin-top:15px;
	margin-left:40px;
	display:inline-block;
	color:white;
	padding: 10px;
	background-color:rgba(70,70,70,1.00);
	//border:1px solid rgba(127,127,127,1.00);
}

#campaignsettings{
	
	margin-top:10px;
	margin-left:40px;
	margin-bottom:50px;
	width:480px;
	padding: 10px;
	color:white;
	padding:10px;
	background-color:rgba(70,70,70,1.00);
	//border:1px solid rgba(196,196,196,1.00);
}


#quick_play_game_options{
	
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	width:460px;
	//height:100px;
	color:white;
	padding: 10px;
	background-color:rgba(70,70,70,1.00);
	
}

#game_over_menu{
	
	visibility:hidden;
	position:absolute;
	height:600px;	
	width: 600px;
	background-color:rgba(64,85,104,0.5);
	
}

#map_selection{
	
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	height: 110px;
	width: 470px;
	background-color:rgba(70,70,70,1.00);
	padding-left:10px;
	padding-bottom:5px;
	overflow:scroll;
	overflow-x:hidden;
	
	
}



.maps{
	
	height: 70px;
	width:70px;
	margin: 10px;
	margin-top:20px;
	background-color:#D8D8D8;
	float:left;	
	
	-webkit-transition: ease-in transform 0.2s;
	-moz-transition: ease-in transform 0.2s;
	-ms-transition: ease-in transform 0.2s;
	-o-transition: ease-in transform 0.2s;
	
	transition: ease-in transform 0.2s;
	
}

#map1{
	
	background-image:url(images/map1.png);
	background-size:cover;
	background-repeat:no-repeat;
	
}

#map2{
	
	background-image:url(images/map2.png);
	background-size:cover;
	background-repeat:no-repeat;
	
}

#map3{
	
	background-image:url(images/map3.png);
	background-size:cover;
	background-repeat:no-repeat;
	
}


#map4{
	
	background-image:url(images/map4.png);
	background-size:cover;
	background-repeat:no-repeat;
	
}


#map5{
	
	background-image:url(images/map5.png);
	background-size:cover;
	background-repeat:no-repeat;
	
}

.maps:hover{
	
	background-color:rgba(209,209,209,1.00);
	
	-ms-transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
	-moz-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
	
	cursor: pointer; 
	cursor: hand;
}


#pause_game_menu{
	
	visibility:hidden;
	position:absolute;
	height:600px;	
	width: 600px;
	background-color:rgba(64,85,104,0.5);
	
}

#options_menu{
	
	visibility:hidden;
	position:absolute;
	height:600px;	
	width: 600px;
	z-index:10;
	background-color:rgba(64,85,104,1.00);
	
	
}

#options_menu_ingame{
	
	visibility:hidden;
	position:absolute;
	height:600px;	
	width: 600px;
	background-color:rgba(64,85,104,0.5)
	
}

.optionsWrapper{

	color:white;
	font-size:18px;
	width: 200px;
	height:20px;
	margin-left:auto;
	margin-right:auto;
	background-color:rgba(95,95,95,1.00);
	padding:10px;	
	
}


#loading{
	
	visibility:visible;
	z-index:100;
	position:absolute;
	height:600px;	
	width: 600px;
	background-color:rgba(81,81,81,1.00);
	
}

#loading_text{
	
	height:50px;
	width:300px;
	margin-top:250px;
	color:white;
	font-size:36px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

#scoreboard{
	height:25px;
	width:590px;
	padding-left:10px;
	margin-left:50px;
	margin-top:5px;
	background-color:rgba(34,71,106,1.00);
	color:white;
	font-size:20px;
	visibility:hidden;
	margin-bottom: 5px;
}

#console{
	height:400px;
	width:300px;
	float:left;
	margin-left: 10px;
	background:rgba(95,95,95,1.00);
	padding:0;
	visibility:hidden;
}

#console_text{
	height:370px;
	width:300px;
	color:white;
	font-size:12px;
	
}

#console_buttons{
	
	height:20px;
	width:300px;
	
}


#header{
	background-image:url(images/Snake-Game.png);
	background-size:100%;
	background-repeat:no-repeat;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	margin-bottom:50px;
	width:500px;
	height:100px;
	
	
}

#header_quick_play_menu{
	
	background-image:url(images/game_options.png);
	background-size:100%;
	background-repeat:no-repeat;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	margin-bottom:50px;
	width:500px;
	height:100px;

}

#header_campaign_menu{
	
	background-image:url(images/Select-Difficulty.png);
	background-size:100%;
	background-repeat:no-repeat;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	margin-bottom:20px;
	width:500px;
	height:100px;
}

#header_options_menu{
	
	background-image:url(images/Options-Menu.png);
	background-size:100%;
	background-repeat:no-repeat;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	margin-bottom:50px;
	width:500px;
	height:100px;
	
}

#header_options_menu_ingame{
	
	background-image:url(images/Options-Menu.png);
	background-size:100%;
	background-repeat:no-repeat;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	margin-bottom:50px;
	width:500px;
	height:100px;
	
}

#header_pause_menu{

	background-image:url(images/pause_menu.png);
	background-size:100%;
	background-repeat:no-repeat;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	margin-bottom:50px;
	width:500px;
	height:100px;
	
	
}

#header_game_over_menu{
	
	background-image:url(images/Game-Over-.png);
	background-size:100%;
	background-repeat:no-repeat;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	margin-bottom:50px;
	width:500px;
	height:100px;
	
		
	
}

#pressspace{
	
	margin-top:100px;
	margin-left:auto;
	margin-right:auto;
	color:white;
	font-size:18px;
	height:20px;
	padding: 5px;
	width:200px;
	text-align:center;
	background-color:rgba(106,106,106,0.57);
}

.menu_buttons{

	margin-left:auto;
	margin-right:auto;
	width:200px;
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
	color:rgba(227,227,227,1.00);
	font-size:18px;	
	background-color:rgba(73,73,73,1.00);
	border-radius:1px;
	border:1px solid rgba(215,215,215,1.00);
	
}

.menu_buttons:hover{
	
	background-color:rgba(52,127,154,1.00);
	color:rgba(255,255,255,1.00);
	cursor: pointer; 
	cursor: hand;
	
}

.difficulty_buttons{
	
	margin-left:5px;
	margin-right:5px;
	margin-top:15px;
	margin-bottom:15px;
	float:left;
	width:90px;
	text-align:center;
	color:rgba(71,71,71,1.00);
	font-size:18px;	
	background-color:rgba(220,220,220,1.00);
	border-radius:1px;
	padding:10px;
	
	
}

.difficulty_buttons:hover{
	background-color:rgba(108,108,108,1.00);
	color:white;
	cursor: pointer; 
	cursor: hand;
	
}


.tiles{
	
	height:15px;
	width:15px;
	margin:0;
	padding:0;
	float:left;
	
	
	
}
	
